*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
  clear:right;
}

@font-face {
    font-family: 'chunkfiveroman';
    src: url('chunkfive-webfont.eot');
    src: url('chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
         url('chunkfive-webfont.woff2') format('woff2'),
         url('chunkfive-webfont.woff') format('woff'),
         url('chunkfive-webfont.ttf') format('truetype'),
         url('chunkfive-webfont.svg#chunkfiveroman') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'arvoregular';
    src: url('arvo-regular-webfont.eot');
    src: url('arvo-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('arvo-regular-webfont.woff2') format('woff2'),
         url('arvo-regular-webfont.woff') format('woff'),
         url('arvo-regular-webfont.ttf') format('truetype'),
         url('arvo-regular-webfont.svg#arvoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'homestead_displaydisplay';
    src: url('homestead-display-webfont.eot');
    src: url('homestead-display-webfont.eot?#iefix') format('embedded-opentype'),
         url('homestead-display-webfont.woff2') format('woff2'),
         url('homestead-display-webfont.woff') format('woff'),
         url('homestead-display-webfont.ttf') format('truetype'),
         url('homestead-display-webfont.svg#homestead_displaydisplay') format('svg');
    font-weight: normal;
    font-style: normal;

}




/*@font-face {
    font-family: 'arial_narrowregular';
    src: url('arial_narrow-webfont.eot');
    src: url('arial_narrow-webfont.eot?#iefix') format('embedded-opentype'),
         url('arial_narrow-webfont.woff2') format('woff2'),
         url('arial_narrow-webfont.woff') format('woff'),
         url('arial_narrow-webfont.ttf') format('truetype'),
         url('arial_narrow-webfont.svg#arial_narrowregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'arial_narrowbold';
    src: url('arial_narrow_bold-webfont.eot');
    src: url('arial_narrow_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('arial_narrow_bold-webfont.woff2') format('woff2'),
         url('arial_narrow_bold-webfont.woff') format('woff'),
         url('arial_narrow_bold-webfont.ttf') format('truetype'),
         url('arial_narrow_bold-webfont.svg#arial_narrowbold') format('svg');
    font-weight: bold;
    font-style: normal;

}*/

body {

	background-color: #F2F2F2;

}

nav {

	position: fixed;
	padding-top: 1%;
	top: 0;
	left: 0;
	width: 20%;
	height: 100%;
	background-color: #F2F2F2;
  overflow-y: auto;
}
/*only for scrollable if necessary*/
nav::-webkit-scrollbar {

  display:none;
}

a {
  text-decoration: none;
}

h1 {

	position: static;
	font-family: 'homestead_displaydisplay';
	font-size: 3em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	color: #D17E3A;
}


img {
  height:auto;
  width: auto;
}


figure img {

  height: auto;
  width: auto;
  max-width: 100%;

}

img#cartImg {
  height:auto;
  width: 15em;
  max-width: 100%;
}

img#farmer,img.new {
  height:auto;
  width: auto;
  max-width: 100%;
}

img#logo {

  margin-right: 1em;
}

img#card{
  width: 5em;
}


.main-nav {
  font-family: 'chunkfiveroman';
  display: block;
  width: 100%;
  background-color: #F2F2F2;
  color: #D17E3A;
  padding: 1em 1.25em;
  border-right: 0.2em solid #D17E3A;
  text-decoration: none;
  overflow-y:auto;
}

.main-nav:hover, .main-nav:focus,.main-nav.activeLink, .main-nav.activeLink:hover, .main-nav.activeLink:focus {
  background-color: #D17E3A;
  color: #F2F2F2;
  /*border: 0.1em solid #D17E3A;*/
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}



.grid {

  position: static;
	margin-left: 20%;
  margin-top: 2%;

}

[class^='grid-row'] {
	width: 100%;
  display: block;

}

.grid-row-1of1{
  position: static;
  width: 100%;
  height: 3em;
  text-align: center;
  display: block;
  margin-bottom: 5em;
  margin-top: 5em;

}


[class^='grid-col'] {
  width: 50%;
  display: inline-block;
  position: static;
  height: 3em;
  text-align: center;
  margin-bottom: 3em;

}

.grid-col-1of2 {

  float: left;
}

.grid-col-3of2 {
  text-align: left;
}
section {

  margin-top: 1em;
  
}

section:after {
  content: "";
  display: block;
  clear: both;
  position: static;
}

section h2, form h2 {
  font-family: 'chunkfiveroman';
  font-size: 2em;
  margin-top: 0;
  margin-bottom: 0.5em;
  color: #AEBD96;
}

section h3 {
  margin-bottom: 0;
}

p,p#farmer {
  font-family: 'arvoregular';
  color: #6B5C3B;
  margin-top: 0;
  max-width: 100%;
}

p#farmer {
  padding-top: 5em;
}

ul {
  font-family: 'arvoregular';
  color: #6B5C3B;
  list-style-type: none;
}

.product-img {
  height: 8em;
  margin: 1em;

}

.product-img:hover, .product-img:focus {

  opacity: 0.5;
  -webkit-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}


.product-link{
  display: inline-block;
  width: 8em;
  height: 7em;
  padding-top: 1em;
  padding-bottom: 0.2em;
}

.button-nav, .button-sub, .button-reset {
  font-family: 'chunkfiveroman';
  font-size: 1em;
  display: inline-block;
  width: 3.3em;
  height: 3.1em;
  padding-top: 0.7em;
  padding-bottom: 0.2em;
  color: #FFF;
  background-color: #F2F2F2;
  border-radius: 3em;
  border: 0.2em solid #D17E3A;
  text-decoration: none;
  text-align: center;
  color: #D17E3A;
  margin: 1em;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.button-nav:hover, .button-nav:focus, .button-sub:hover, .button-sub:focus, .button-reset:hover, .button-reset:focus {
  background-color: #D17E3A;
  color: #F2F2F2;
  border: 0.2em solid #D17E3A;
}

.newsbox {
  display: block;
  padding: 2em;
  margin-bottom: 2em;
  border-bottom: 0.2em solid #AEBD96;

}

.newsbox:after{

  content: "";
  display: block;
  clear: both;
  position: static;
}

.farmerIntro h2 {
  text-align:center;
}

.farmerIntro figure {
  max-width:100%;
}

.newsImg, .farmerImg{
  margin-right: 1em;
  float: left;
  width: 30%;
  min-width: 15em;
}

/* only for firefox pictures*/
@-moz-document url-prefix() { 
  figure {
     margin: 0;
  }
}

.orderDetailImg {

  float: left;
  width: 10em;

}

.bannerImage {
  width: 100%;
  background-image: url("img/produceBanner.jpg");
  height: 6em;
  margin-top: -1em;
  margin-right: -2em;
  margin-left: 2em;
}

.farmerIntro{
  display: block;
  padding: 2em;
  margin-bottom: 2em;
}

.farmerIntro:after{

  content: "";
  display: block;
  clear: both;
  position: static;

}

.link {
  color: #AEBD96;
  text-decoration: none;
  font-size: 1.1em;
}

.link:hover, .link:focus {
  color: #D17E3A;
}

.productInfo{
  display: inline-block;
  margin: 1em;
}

.product-detail-img {
  display: inline-block;
  width: 10em;
  height: 10em;
  margin: 1em;
}

.famerText{
  display: inline-block;
  margin: 3em;
  padding: none;
}

figure {

  display: inline-block;

}

figcaption{

  text-align: center;

}


p.loginInstruct {

  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

textarea {
  max-width: 100%
}





@media (max-width: 34em) {

	nav {

		position: static;
		width: 100%;
	}

	.main-nav {
		display: inline-block;
		width: 100%;
		margin: 0, auto;
		text-align: center;

	}

	.grid {

		margin-left: 0;
	}

	h1 {

		text-align: center;
	}

  .grid-col-1of2, .grid-col-2of2, .grid-row-1of2{

    float: none;
    width: 100%;
    text-align: center;
    margin-bottom: 5em;
    
  }

 .grid-row-1of1 {
    height:initial;
    margin-bottom: 1em;

 }

  section {

    margin-top: 1.5em  

  }

  .product-img {

    width: 8em;
  }

  .orderDetailImg {

    float: left;
    width: 10em;
    margin-right: 1em;

  }

  .newsImg {

    width: 100%;
  }

  .bannerImage {

    display: none;
  }

}


.grid:after {
	content: "";
	display: block;
	clear: both;
	position: static;
}
/*
670 px is phone
670 /16 for em
*/
